<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meoa.soulface">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.meoa.soulface.SoulFaceApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_icon"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.meoa.soulface.activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.meoa.soulface.activity.PhotoSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.meoa.soulface.activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.meoa.soulface.activity.EditImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.meoa.soulface.activity.VrModeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.meoa.soulface.activity.SingleResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>